{% extends 'school/homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Panel alumnos</h1>
  <p class="lead">Bienvenido al sistema de Control de asistencia del Instituto Tecnologico de Apizaco </p>
  <hr class="my-4">
  <br>
  <p>Por favor seleccione una opcion para continuar...</p>
  <br>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="studentsignup" role="button">Registrarse</a>
    <a class="btn btn-primary btn-lg" href="studentlogin" role="button">Entrar</a> <br><br>
    <a class="btn btn-danger btn-lg" href="logout" role="button">Regresar</a>
  </p>
</div><br><br><br><br><br><br>
{% endblock content %}
